@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}
html,
body {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
}

:root {
  --background: #eee;
  --color-grey: grey;
  --color-white: #fff;
  --color-black: #000;
  --color-write: #333;
  --primary-signup: orangered;
  --primary-login: #6600ff;
  --primary: #db4c3f;
  --color-light-grey: #ccc;
  --background-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.8);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}
